#termsTitleL {
	font-family:Arial;
	font-size:14pt;
	position:absolute;
	left:31px;
	top:97px;
	z-index:5
}

#descriptionTitleL {
	font-family:Arial;
	font-size:14pt;
	position:absolute;
	left:330px;
	top:97px;
	z-index:5
}

#bgImage {position:absolute; top:0px; left:0px; width:630px; height:485px;}
#glossaryList {position:absolute; left:30px; top:122px; width:273px; height:281px; z-index:1;  border:1px solid #000000; overflow-x:none; overflow-y:scroll}
#displayItemText {position:absolute; left:329px; top:122px; width:272px; height:281px; z-index:1; border: 1px solid #000000; overflow-x:none; overflow-y:auto; padding:0px; margin:0px}
.singleWord {font-family:Arial; font-size: 10pt; width:240px; padding:5px;}
.rolloverItems {font-family: Arial; font-size: 10pt; color:#15377E; text-decoration:underline;}
.rolloutItems {font-family:Arial; font-size: 10pt; }
.makeItBold {font-family:Arial; font-size: 10pt; font-weight:800; }
.word {font-family:Verdana; font-size: 10pt;}
.description {font-family:Arial; font-size: 10pt;}

#exitL {position:absolute; left:12px; top:453px; width:71px; z-index:5; cursor:pointer; visibility:visible;}
#returnL {position:absolute; left:95px; top:453px; width:180px; z-index:5; cursor:pointer; visibility:visible;}
#helpL {position:absolute; left:302px; top:453px; width:71px; z-index:5; cursor:pointer; visibility:visible;}

a {
	color:#932617;
	text-decoration:underline; 
	font-weight:800;
}

a:hover {
	color:#15377E;
	text-decoration:underline;
	font-weight:800;
}

#popupLayer { position:absolute; top:77px; left:137px;width:376px;height:333px;visibility:hidden; z-index:51; border:1px solid #999999}
