
.titleText {font-family: Arial; font-size: 12pt; font-weight: bold;}
.mainText {font-family: Arial; font-size: 10pt}
.instructionText {font-family: Arial; font-size: 10pt; color:#999999; }
.pageNumText {font-family: Arial; font-size: 10pt;}
.initialText {font-family: Arial; font-size: 10pt}

#flashLayer{position:absolute; left:30px; top:28px; width:580; height:300; z-index:2}