.titleText {font-family: Arial; font-size: 12pt; font-weight: bold;}
.mainText {font-family: Arial; font-size: 10pt;}
.instructionText {font-family: Arial; font-size: 10pt; color:#999999; }
.pageNumText {font-family: Arial; font-size: 10pt;}
.initialText {font-family: Arial; font-size: 10pt;}
#graphicL {font-family: Arial; font-size: 10pt;position:absolute; left:20px; top:10px; width:250px; height:300px; z-index:1}
#initialText {font-family: Arial; font-size: 10pt;position:absolute; left:330px; top:10px; width:280px; height:1; z-index:1}
#transcriptText {font-family: Arial; font-size: 10pt;position:absolute; left:330px; top:10px; width:280px; height:330px; z-index:1;visibility:hidden; overflow:auto;}