.titleText {font-family: Verdana; font-size: 12pt; font-weight: 900; position:absolute; left:5; top:5; width:720px; height:20px;}
.initialText {font-family: Verdana; font-size: 9pt;}
.html {font-family: Verdana; font-size: 9pt;}
td {font-family: Verdana; font-size: 9pt;}



