.titleText {
	font-family: Times; 
	font-size: 15pt; 
	color:#15377E; 
	position:absolute; 
	left:10px; 
	top:10px; 
	width:580px; 
	height:20px;
}

p {
	margin-top:0px;
}

a {
	color:#932617;
	text-decoration:underline; 
	font-weight:800;
}

a:hover {
	color:#15377E;
	text-decoration:underline;
	font-weight:800;
}

body, div, p, span, a {
	line-height:105%;
}

body, div, p, span {
	color:#333333;
}

.instructionText
, #finalInstruction
{
	font-family: Arial; 
	font-size: 10pt; 
	color:#042238; 
}

.indented {padding: 0px 10px 0px 10px;}

/*popup layer styles*/
#popupLayer { position:absolute; top:23px; left:125px;width:376px;height:333px;visibility:hidden; z-index:9997; border:1px solid #999999}
#closeButton {position:absolute; top:300px; left:11px;width:89px;height:21px; z-index:9998;}
#popupContent {position:absolute; top:0px; left:0px;width:375px;height:250px; z-index:9997;font-family: Arial; font-size: 10pt;}
#popupMask {position:absolute; top:0px; left:0px;width:664px;height:442px;visibility:hidden; z-index:50;
	filter:alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity:0.5;
}
li {list-style-image: url(../../images/bullett.gif); }