.titleText {font-family: Verdana; font-size: 12pt; font-weight: bold;;}
.question {font-family: Arial; font-size: 10pt;}
.option {font-family: Arial; font-size: 10pt;}
.feedback {font-family: Arial; font-size: 10pt;}
.instructionText {font-family: Arial; font-size: 10pt; color:#663366; }
.pageNumText {font-family: Arial; font-size: 10pt;}
.dragItem {background-color: #B7DBEC; layer-background-color: #B7DBEC; font-family: Arial; font-size: 10pt; padding:3; cursor:pointer; border: 1px solid #666666;}
.dropArea {background-color: #CCCCCC; layer-background-color: #CCCCCC; border: 1px solid #999999;}